@import "../../styles/index";

.dropDownContainer {
  width: 100%;
  transition: all 0.3s ease;
}

.label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  padding: 1rem;
  background-color: $primary-bg-kasa-color;
  color: $white-color;
  border-bottom: 1px solid #ccc; // Garde le cadre autour du label
  border-radius: 5px;
}

.chevronIcon {
  transition: transform 0.3s ease; // Transition fluide pour la rotation
}

.iconDown {
  transform: rotate(-180deg); // Chevron vers le bas quand le contenu est ouvert
}

.content {
  box-sizing: border-box;
  overflow: hidden;
  max-height: 0;
  background-color: #f6f6f673;
  border-radius: 5px;
  & ul,
  p {
    padding: 1rem;
  }
}

.content.open {
  animation: dropDown;
  animation-duration: 800ms;
  max-height: 500px;
  opacity: 1;
}

.content.close {
  animation: dropUp;
  animation-duration: 300ms;
}

@keyframes dropDown {
  from {
    max-height: 0;
  }
  to {
    max-height: 500px;
  }
}

@keyframes dropUp {
  from {
    max-height: 500px;
  }
  to {
    max-height: 0;
  }
}
