@import "../../styles/index";

.logementContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.introLogementCarroussel {
  display: flex;
  max-width: 100%;
  height: 225px;
  overflow: hidden;
  object-fit: contain;
  position: relative;
}

.carrouselItem {
  border-radius: 1rem;
  width: 100%;
}

.CarrousselCounter {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 14px; // Vous pouvez ajuster la taille selon vos besoins
  padding: 0.2rem 0.6rem;
  border-radius: 0.5rem;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%); // Centrage vertical des boutons

  & button {
    background: none;
    color: white;
    border: none;
    cursor: pointer;
  }

  .left {
    position: absolute;
    left: 10px; // Distance du bord gauche
    transform: translateY(-50%);
  }

  .right {
    position: absolute;
    right: 10px; // Distance du bord droit
    transform: translateY(-50%);
  }

  .hidden {
    display: none;
  }
}

.infosContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  @include media-query(desktop) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.infosLogement {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title {
  font-weight: 500;
  font-size: 18px;
  color: $primary-bg-kasa-color;
}

.location {
  font-weight: 500;
  font-size: 14px;
}

.tags {
  display: flex;
  gap: 1rem;
}

.rateAndOwner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  @include media-query(desktop) {
    flex-direction: column-reverse;
    gap: 1rem;
  }
}

.rates {
  display: flex;
  gap: 0.2rem;
  color: $primary-bg-kasa-color;
  font-size: 18px;
  @include media-query(desktop) {
    font-size: 24px;
  }
  & svg:hover {
    cursor: pointer;
    color: $primary-bg-kasa-color;
  }
}

.owner {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  @include media-query(desktop) {
    gap: 1rem;
  }
  & img {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    object-fit: contain;
    @include media-query(desktop) {
      width: 64px;
      height: 64px;
    }
  }
  & p {
    font-size: 12px;
    color: $primary-bg-kasa-color;
    font-weight: 500;
    @include media-query(desktop) {
      font-size: 18px;
    }
  }
}
