@import "../../styles/index";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 47px;
  width: 145px;
  @include media-query(desktop) {
    height: 68px;
    width: 211px;
  }
}

nav ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  & a {
    text-decoration: none;
    line-height: 34.22px;
    @include media-query(desktop) {
      text-transform: initial;
      font-size: 24px;
    }
  }
}

a.active {
  border-bottom: 1px solid black;
  @include media-query(desktop) {
    border-bottom: 2px solid black;
  }
}

a:visited {
  color: $black-font-color;
}
