@import "./index";

*,
*::before,
*::after,
html {
  padding: 0;
  margin: 0;
  position: relative;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  & div#root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & main {
      min-height: 100vh;
      padding: 1rem;

      flex: 1;
    }

    & header {
      @include media-query(desktop) {
        padding: 2rem 1rem 0;
      }
      padding: 1rem;
    }

    & main,
    header {
      width: 100%;
      font-size: 12px;
      @include media-query(desktop) {
        margin: 0 auto;
        max-width: 1240px;
      }
    }
  }
}
